*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@500&display=swap');
}
li, a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 20px;
    font-stretch: semi-expanded;
    color: black;
}
.navbar{
    
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
header{
    padding-bottom: 1rem;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    transition: .3s;
}

.logo{
    cursor: pointer;
    width: 13rem;
    margin-right: auto;
    padding-left: 10%;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    font-size: 20px;
    display: inline-block;
    padding: 0px 15px;
    transition: .3s;
}

.nav-links li:hover{
    color: goldenrod;
    cursor: pointer;
}

.scrolling-active{
   padding-top: 0;
   padding-bottom: 0;
   transition: .3s;
}

.content-div{
    padding-top: 13rem;
}
.content-wrapper{
    padding-bottom: 7rem;
    display: flex;
}
.content{
    width: 100%;
}
.content img{
    object-position: center;
    object-fit: cover;
    width: 98%;
    height: 40vh;
}
.content h2{
    letter-spacing: .8px;
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Merriweather', serif;
    padding-left: 4rem;
    padding-top: 1rem;
}
#padding{
    padding-left: 1%;
}
#padding-a{
    padding-left: 2%;
}
.content p{
    font-size: 15px;
    color: rgb(150, 150, 150);
    letter-spacing: .4px;
    padding-left: 4rem;
    padding-top: .2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.words p{
    padding-left: 20%;
}

@media screen and (min-width: 375px) {
    .content-wrapper{
        padding-bottom: .5rem;
        display: flex;
        flex-direction: column;
    }

    .content p{
        font-size: 15px;
        color: rgb(150, 150, 150);
        letter-spacing: .4px;
        padding-left: 4rem;
        padding-top: .2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 2.5rem;
    }

    header{
        padding-bottom: 0rem;
        padding-top: 0rem;
        display: flex;
        align-items: center;
        transition: .3s;
    }

    .content-div{
        padding-top: 3.9rem;
    }

    .logo{
        cursor: pointer;
        width: 8rem;
        margin-right: auto;
        padding-left: 5%;
    }

    .nav-links li {
        font-size: 15px;
        display: inline-block;
        padding: 0px 7px;
        transition: .3s;
    }
}